NODE_ENV=production
PORT={{ app_port }}

DATABASE_URL={{ vault_database_url }}
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY={{ vault_clerk_publishable_key }}
CLERK_SECRET_KEY={{ vault_clerk_secret_key }}
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL={{ vault_clerk_sign_in_force_redirect_url }}
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL={{ vault_clerk_sign_up_force_redirect_url }}