@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .address-page {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .bills h1 {
    font-size: var(--text-lg);
  }

  .bills p {
    font-size: var(--text-xs);
  }

    /* .bills th,
    .bills td {
        font-weight: 400;
    } */
}

@media (max-width: 500px) {
  .bills main {
    padding: calc(var(--spacing) * 4);
  }

  .search-form {
    flex-direction: column;
  }

  .bills h1 {
    font-size: var(--text-base);
  }

  .primary h1{
    text-align: right;
  }

  .bills th,
  .bills td {
    padding-inline: calc(var(--spacing) * 2);
    text-align: center;
  }

  .bills .form-div {
    padding: calc(var(--spacing) * 2);
  }

  .form-div input,
  .form-div button {
    padding: calc(var(--spacing) * 0.5);
  }

  .login {
    width: auto;
  }
}
